# Seguridad (Generar con: openssl rand -hex 32)
SECRET_KEY=secret_key

# Servidor (Opcional)
# HOST=0.0.0.0
# PORT=8000
# DEBUG=True

# MongoDB
MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=deeplit

# CORS
ALLOWED_ORIGINS=http://localhost:3000

# IA & Modelos de Lenguaje
OFFLINE=False
GOOGLE_API_KEY=api_key_de_gemini

# Neo4j (Opcional)
# NEO4J_URL=bolt://localhost:7687
# NEO4J_USERNAME=neo4j
# NEO4J_PASSWORD=tu_password_aqui
