/* ======= IMPORTAR ESTILOS COMUNES ======= */
@import './components/common.css';

/* ======= IMPORTAR ESTILOS DE LAYOUT ======= */
@import './layout/Layout.css';
@import './layout/Navbar.css';
@import './layout/Sidebar.css';

/* ======= IMPORTAR ESTILOS DE DASHBOARD ======= */
@import './dashboard/Dashboard.css';
@import './dashboard/StatCard.css';

/* ======= IMPORTAR ESTILOS DE DOCUMENTS ======= */
@import './documents/DocumentCard.css';
@import './documents/DocumentControls.css';
@import './documents/DocumentGrid.css';
@import './documents/DocumentList.css';
@import './documents/SearchBar.css';
@import './documents/DocumentViewEdit.css';

/* ======= IMPORTAR ESTILOS DE AUTH ======= */
@import './Auth.css';

/* ======= VARIABLES CSS ======= */
:root {
  --dark: #4f46e5;
  --main_color: #6366f1;
  --white:#f8fafc;
  --black: #000000;
}
