/* Estilo para cada entrada de documento */
.doc-entry {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    transition: background-color 0.2s ease;
  }
  .doc-entry:hover {
    background-color: #f1f1f1;
  }
  .list-group .doc-entry + .doc-entry {
    border-top: none;
  }
  /* Información del documento */
  .doc-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .doc-info > * {
    margin-right: 15px;
    font-size: 1rem;
  }
  /* Iconos de acción */
  .doc-icons {
    display: flex;
    align-items: center;
  }
  .doc-icons a {
    margin-left: 10px;
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
  }
  .doc-icons a:hover {
    color: #0056b3;
  }
  /* Icono de advertencia */
  .warning-icon {
    color: #ffc107;
    font-size: 1.2rem;
    margin-left: 10px;
  }
  /* Cabecera de filtro y ordenación */
  .doc-header {
    font-weight: bold;
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .doc-header .doc-info {
    display: flex;
    align-items: center;
  }
  .doc-header .doc-info > div {
    margin-right: 15px;
  }
  .doc-header .doc-select {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .doc-header .doc-operations {
    font-size: 1rem;
  }
  
  