/* main.css */

/* CSS general (antes estaba en base.html) */
body {
    background-color: #f003f4;
    margin-bottom: 60px;
}
.entry {
    background-color: #f000f0;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.entry:hover {
    background-color: #050505;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* CSS para la lista de documentos (antes en home.html) */
.doc-entry {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0; /* Sin separación entre entradas */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f00000;
    transition: background-color 0.2s ease;
}
.doc-entry:hover {
    background-color: #010101;
}
.list-group .doc-entry + .doc-entry {
    border-top: none;
}
.doc-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.doc-info > * {
    margin-right: 15px;
    font-size: 1rem;
}
.doc-icons {
    display: flex;
    align-items: center;
}
.doc-icons a {
    margin-left: 10px;
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
}
.doc-icons a:hover {
    color: #0056b3;
}
.warning-icon {
    color: #ffc107;
    font-size: 1.2rem;
    margin-left: 10px;
}
.doc-header {
    font-weight: bold;
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.doc-header .doc-info {
    display: flex;
    align-items: center;
}
.doc-header .doc-info > div {
    margin-right: 15px;
}
.doc-header .doc-select {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.doc-header .doc-operations {
    font-size: 1rem;
}
